src/main/resources/hu/unideb/inf/rac/rent_a_car.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="company">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sites">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="site" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="postalCode"/>
                          <xs:element type="xs:string" name="city"/>
                          <xs:element name="location">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="street"/>
                                <xs:element type="xs:byte" name="number"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="employee">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="manager">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="person">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:short" name="idrefs" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="salesperson">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="person" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:short" name="idrefs" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="rentableCars">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="hatchbacks">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="petrol">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="fees">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:short" name="dalyFee"/>
                                            <xs:element type="xs:byte" name="distanceFee"/>
                                            <xs:element type="xs:string" name="currency"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="vehicles">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:byte" name="idrefs" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="diesel">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="fees">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:short" name="dalyFee"/>
                                            <xs:element type="xs:short" name="distanceFee"/>
                                            <xs:element type="xs:string" name="currency"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="vehicles">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:byte" name="idrefs" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="familycars">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="petrol">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="fees">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:short" name="dalyFee"/>
                                            <xs:element type="xs:short" name="distanceFee"/>
                                            <xs:element type="xs:string" name="currency"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="vehicles">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:byte" name="idrefs" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="diesel">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="fees">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:short" name="dalyFee"/>
                                            <xs:element type="xs:short" name="distanceFee"/>
                                            <xs:element type="xs:string" name="currency"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="vehicles">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:byte" name="idrefs" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="vans">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="petrol">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="fees">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:short" name="dalyFee"/>
                                            <xs:element type="xs:short" name="distanceFee"/>
                                            <xs:element type="xs:string" name="currency"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="vehicles">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:byte" name="idrefs" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="diesel">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="fees">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:short" name="dalyFee"/>
                                            <xs:element type="xs:short" name="distanceFee"/>
                                            <xs:element type="xs:string" name="currency"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="vehicles">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:byte" name="idrefs" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="suvs">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="petrol">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="fees">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:short" name="dalyFee"/>
                                            <xs:element type="xs:short" name="distanceFee"/>
                                            <xs:element type="xs:string" name="currency"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="vehicles">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:byte" name="idrefs" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="diesel">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="fees">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:short" name="dalyFee"/>
                                            <xs:element type="xs:short" name="distanceFee"/>
                                            <xs:element type="xs:string" name="currency"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="vehicles">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:byte" name="idrefs" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="rents">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="rent" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:int" name="id"/>
                                <xs:element name="person">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:short" name="idrefs" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:int" name="total"/>
                                <xs:element type="xs:string" name="currency"/>
                                <xs:element type="xs:string" name="from"/>
                                <xs:element type="xs:string" name="to"/>
                                <xs:element type="xs:short" name="distance"/>
                                <xs:element type="xs:string" name="distanceUnit"/>
                                <xs:element name="car">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="idrefs" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="persons">
          <xs:annotation>
            <xs:documentation>employee: 1001-1010
         user: 1011-1030</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="person" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="postalCode"/>
                          <xs:element type="xs:string" name="city"/>
                          <xs:element name="location">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="street"/>
                                <xs:element type="xs:int" name="number"/>
                                <xs:element type="xs:string" name="floor"/>
                                <xs:element type="xs:string" name="apartment"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="birth"/>
                    <xs:element type="xs:string" name="driverLicense"/>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cars">
          <xs:annotation>
            <xs:documentation>hatchback: 1-25
        familycar: 26-50
        van: 51-75
        SUV: 76-100</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="category"/>
                    <xs:element type="xs:string" name="brand"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:float" name="engine"/>
                    <xs:element type="xs:string" name="color"/>
                    <xs:element type="xs:string" name="fuel"/>
                    <xs:element type="xs:short" name="mfd"/>
                    <xs:element type="xs:string" name="licensePlateNumber"/>
                    <xs:element type="xs:string" name="climated"/>
                    <xs:element type="xs:string" name="transmission"/>
                    <xs:element type="xs:byte" name="seatingCapacity"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

